:root {
    --zoom: 1;
}

body {
    margin: 0;
    background: #f8f9fa;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body.dark {
    background: #333333;
}

header {
    background-color: #00bfff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: none;
    flex-wrap: wrap;
}

h1 {
    margin: 0 10px 0 5px;
    color: #000;
    font-size: 24px;
    font-weight: bold;
    flex-grow: 0;
}

button {
    background-color: #008cba;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #007095;
}

#sidebar-toggle {
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
    font-size: 20px;
}

#theme-toggle, #fullscreen-toggle {
    background-color: transparent;
    border: none;
    margin-left: 10px;
    padding: 0;
    cursor: pointer;
    color: #000;
}

#controls-nav {
    display: none;
    text-align: center;
    padding: 5px 0;
    background-color: #00bfff;
    flex: none;
}

#controls-nav button {
    background-color: #ff0000;
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 12px;
}

#controls-nav button:hover {
    background-color: #cc0000;
}

#controls-nav #zoom-out,
#controls-nav #zoom-in,
#controls-nav #fit-to-page {
    background-color: transparent;
    color: #000;
    font-size: 12px;
    padding: 5px 10px;
}

#controls-nav #fit-to-page svg {
    width: 12px;
    height: 12px;
}

#container {
    flex: 1;
    display: flex;
    overflow: hidden;
}

#sidebar {
    width: 200px;
    overflow-y: auto;
    background-color: #f0f0f0;
    border-right: 1px solid #ccc;
    display: none;
    flex: none;
}

body.dark #sidebar {
    background-color: #333333;
    border-right: 1px solid #444;
}

#sidebar .thumb {
    text-align: center;
    margin: 10px;
    cursor: pointer;
}

#sidebar .thumb img {
    width: 100%;
    height: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

body.dark #sidebar .thumb img {
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

#sidebar .thumb span {
    display: block;
    margin-top: 5px;
    color: #000;
}

body.dark #sidebar .thumb span {
    color: #fff;
}

#sidebar .thumb.selected {
    border: 2px solid #00bfff;
    padding: 2px;
    margin: 8px;
}

#viewer {
    flex: 1;
    overflow: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
}

body.dark #viewer {
    background-color: #333333;
}

#viewer img {
    width: calc(100% * var(--zoom));
    height: auto;
    max-width: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

body.dark #viewer img {
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

#viewer.scroll-mode img {
    margin: 0;
}

#file-browser {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 10;
    justify-content: center;
    align-items: center;
}

#file-browser .inner {
    width: 60%;
    max-height: 80%;
    overflow: auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
}

body.dark #file-browser .inner {
    background: #333;
    color: white;
}

#file-list {
    list-style: none;
    padding: 0;
}

#file-list li {
    margin: 5px 0;
}

#file-list a {
    color: inherit;
    text-decoration: none;
}

#file-list a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    header {
        padding: 5px 10px;
    }

    button {
        padding: 5px 10px;
        font-size: 12px;
        margin-left: 5px;
    }

    h1 {
        font-size: 18px;
        margin: 0 5px 0 2.5px;
    }

    #controls-nav button {
        padding: 5px 10px;
        font-size: 12px;
        margin: 0 2.5px;
    }

    #sidebar {
        width: 150px;
    }

    #file-browser .inner {
        width: 90%;
    }
}